* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Source Sans 3", sans-serif;
  }
  
  header {
    background: rgb(47, 48, 47);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: sticky;
  }
  
  header .logo {
    font-size: 30px;
    color: #fff;
  }
  
  header nav ul {
    display: flex;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  header nav ul li a {
    display: inline-block;
    color: #ffffff;
    padding: 5px 0;
    margin: 0 10px;
    border: 3px solid transparent;
    transition: 0.2s;
    text-decoration: none;
  }
  
  header nav ul li a:hover,
  header nav ul li a.active {
    border-bottom-color: rgb(0, 0, 0);
  }
  
  .hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px 0;
    background: #ffffff;
  }
  
  @media only screen and (max-width: 900px) {
    header {
      padding: 0 30px;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .hamburger {
      display: block;
    }
  
    .centered-text {
      text-align: center;
      width: 305px;
    }
  
    header nav {
      position: absolute;
      width: 100%;
      left: -100%;
      top: 70px;
      width: 100%;
      background: #000000;
      padding: 30px;
      transition: 0.3s;
    }
  
    header #nav_check:checked~nav {
      left: 0;
    }
  
    header nav ul {
      display: block;
    }
  
    header nav ul li a {
      margin: 5px 0;
    }
  }
  
  
  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
  }
  
  .image-sec img {
    height: 280px;
    border: 1px solid transparent;
    border-radius: 50%;
}
  p {
    width: 636px;
    max-width: 636px;
    margin: 0;
    text-align: center;
  }
  
  @media (max-width: 643px) {
    .centered-text p {
      width: 538px;
    }
  }
  
  @media (max-width: 425px) {
    .centered-text {
      width: 342px;
    }
  }
  
  .centered-text {
    text-align: center;
  }
  
  button {
    width: 90px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: royalblue;
    color: white;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .footer {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 37px 0;
  }
  
  span.bold {
    font-weight: 700;
  }
  .gap-top {
    margin-top: 11px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}